/*   Common rules   */
.parg-one,
.parg-two,
.parg-three {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 300px;
  height: 130px;
  padding: 25px;
}
/*   font color   */
.parg-two,
.parg-three {
  color: #fff;
}
/*   paragraph background colors   */
.parg-one {
  background-color: #bd6dff;
}
.parg-two {
  background-color: #7800da;
}
.parg-three {
  background-color: #ccc;
}
